<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{common/layout_3block :: layout(~{::title},~{::body/content()})}">
<head>
    <meta charset="UTF-8" />
    <title>二段階認証 | シェアードショップ</title>
</head>
<body class="user_login">
<div class="user_container">
    <h2 class="page_title">二段階認証</h2>
    <div class="login_content">
        <p class="description">4桁の認証コードを入力してください。</p>
        <form th:action="@{/login/2fa}" method="post" class="login_form">
            <div th:if="${errorMessage}" class="error_list">
                <ul><li th:text="${errorMessage}"></li></ul>
            </div>
            <table>
                <tbody>
                    <tr>
                        <th class="label">認証コード</th>
                        <td class="input"><input type="text" name="authCode" maxlength="4" required /></td>
                    </tr>
                    <tr>
                        <th class="label"></th>
                        <td class="input"><input type="submit" value="認証" /></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
</body>
</html>
