<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<title>削除確認 | [[#{shop.title}]]</title>
	<meta charset="UTF-8" />
</head>

<body class="user credit_card_delete_check">
	<h2 class="title">削除確認</h2>
	<p class="check_message">以下の内容を削除します。</p>

	<div class="user_info_form_area">
		<table class="detail_table" th:object="${creditCard}">
			<tr>
				<th>ブランド</th>
				<td th:text="*{brand}"></td>
			</tr>
			<tr>
				<th>カード番号</th>
				<td th:text="*{cardNumber}"></td>
			</tr>
			<tr>
				<th>名義人</th>
				<td th:text="*{holderName}"></td>
			</tr>
			<tr>
				<th>有効期限</th>
				<td th:text="*{expirationDate}"></td>
			</tr>
		</table>

		<div class="button_area">
			<form th:action="@{/client/creditcard/delete/complete}" method="post">
				<input type="hidden" name="id" th:value="${creditCard.id}" />
				<input type="submit" value="削除" class="send_button" />
			</form>
			<form th:action="@{/client/creditcard/list}" method="get">
				<input type="submit" value="戻る" class="back_button" />
			</form>
		</div>
	</div>
</body>

</html>
