<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<title>削除完了 | [[#{shop.title}]]</title>
	<meta charset="UTF-8" />
</head>

<body class="user credit_card_delete_complete">
	<h2 class="title">削除完了</h2>
	<p class="complete_message">カード情報の削除が完了しました。</p>

	<div class="user_info_form_area">
		<p class="complete_link">
			<a th:href="@{/client/creditcard/list}">クレジットカード一覧へ戻る</a>
		</p>
	</div>
</body>

</html>
