<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">
<head>
	<title>クレジットカード変更 | [[#{shop.title}]]</title>
</head>
<body class="user credit_card_update_input">
	<h2 class="title">クレジットカード変更</h2>
	<div class="user_info_form_area">
		<form th:action="@{/client/creditcard/update/check}" method="post" th:object="${creditCardForm}">
			<input type="hidden" th:field="*{id}" />
			<ul class="input_list">
				<li>
					<span class="input_title">カードブランド</span>
					<select th:field="*{brand}">
						<option value="Visa">Visa</option>
						<option value="Mastercard">Mastercard</option>
						<option value="JCB">JCB</option>
						<option value="American Express">American Express</option>
					</select>
				</li>
				<li>
					<span class="input_title">カード番号</span>
					<input type="text" th:field="*{cardNumber}" />
					<span th:if="${#fields.hasErrors('cardNumber')}" th:errors="*{cardNumber}" class="error_message"></span>
				</li>
				<li>
					<span class="input_title">名義人</span>
					<input type="text" th:field="*{holderName}" />
					<span th:if="${#fields.hasErrors('holderName')}" th:errors="*{holderName}" class="error_message"></span>
				</li>
				<li>
					<span class="input_title">有効期限</span>
					<input type="text" th:field="*{expirationDate}" />
					<span th:if="${#fields.hasErrors('expirationDate')}" th:errors="*{expirationDate}" class="error_message"></span>
				</li>
			</ul>
			<div class="detail_button_area">
				<input type="submit" value="確認" class="send_button" />
				<a th:href="@{/client/creditcard/list}" class="back_button">戻る</a>
			</div>
		</form>
	</div>
</body>
</html>
