<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{common/layout_3block :: layout(~{::title},~{::body/content()})}">
<head>
    <meta charset="UTF-8" />
    <title>パスワード再設定 | シェアードショップ</title>
</head>
<body class="user_login">
<div class="user_container">
    <h2 class="page_title">新しいパスワードの設定</h2>
    <div class="login_content">
        <form th:action="@{/password_reset/form}" method="post" class="login_form">
            <input type="hidden" name="token" th:value="${token}" />
            <table>
                <tbody>
                    <tr>
                        <th class="label">新しいパスワード</th>
                        <td class="input"><input type="password" name="newPassword" required /></td>
                    </tr>
                    <tr>
                        <th class="label"></th>
                        <td class="input"><input type="submit" value="更新" /></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
</body>
</html>
